# Python Virtual Environments
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Log files and folders
logs_sugarcane/

# Datasets and Large Image Folders
PlantVillage/
sugercane/
static/
templates/

# User-generated content
feedback_images/
feedback.csv


# Ignore ALL models first...
models/*.h5

# ...then KEEP ONLY the ones you need.
# APNE ZAROORI MODELS KE NAAM YAHAAN LIKHEIN:
!models/sugarcane_phase2_best.h5
!models/other_crops_model_best.h5