# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore model files (optional if >100MB)
*.h5

# Ignore log files/folders
logs_sugarcane/

# Mac system files (optional)
.DS_Store
